@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alef');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}


section , footer{
   
    padding: 100px 0;
}

h2{
    color: white;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: #24306E;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn:hover{
    background-color: #364cb9;
}

header{
    background: rgba(18, 18, 18, 0.6);
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3%;
}

nav ul{
    display: flex;
    align-items: center;

}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    font-family: 'Poppins', sans-serif;
}

.servico-banner{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.nome-centro{
    font-weight: bold;
    color: #404040;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

p{
    font-weight: bold;
    text-align: center;
    color: #404040;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    
}

.btn-servicos{
    
    width: 271.59px;
    height: 251.96px;
    left: 393px;
    top: 859.04px;

    background: #FFFFFF;
    box-shadow: 0px 2.8743px 17.2458px -0.718575px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(14.3715px);
    /* Note: backdrop-filter has minimal browser support */
    cursor: pointer;
    border-radius: 28.743px;

}

.btn-servicos-E{
    width: 271.59px;
    height: 251.96px;
    left: 393px;
    top: 859.04px;
    margin-left: 15%;
    margin-right: 15%;
    background: #24306E;
    box-shadow: 0px 2.8743px 17.2458px -0.718575px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(14.3715px);
    /* Note: backdrop-filter has minimal browser support */
    cursor: pointer;
    border-radius: 28.743px;

    
}

.btn-servicos-E p{
    padding: 14% ;
    color: #FFFFFF;
}

.css-btn-servicos{
    padding-left: 10px;
    display: flex;
}

.btn-servicos p{
    padding: 14% ;
    color: black;
}

.img-servicos{
    padding: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer{
    
    background-color: #24306E;
    display: flex;
}

.infos{
    text-align: justify;
    margin-left: 10%;
}

.infos h5{
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Alef', sans-serif;
}

.espaco{
    
    padding-left: 100px;
}


.img-ufs1{
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

